
@{
    ViewData["Title"] = "Indexx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tm-section tm-bg-img" id="tm-section-1">

</div>

<div class="tm-section-2">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="tm-section-title">We are here to help you?</h2>
                <p class="tm-color-white tm-section-subtitle">Library Management System</p>
                <a href="#" class="tm-color-white tm-btn-white-bordered">Made Easy For Everyone</a>
            </div>
        </div>
    </div>
</div>

<div class="tm-section tm-position-relative">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
        <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>
    </svg>
    <div class="container tm-pt-5 tm-pb-4">
        <div class="row text-center">
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
                <i class="fa tm-fa-6x fa-legal tm-color-primary tm-margin-b-20"></i>
                <h3 class="tm-color-primary tm-article-title-1">Study Material</h3>
                <p>Imagine with all your mind.Believe with all your heart.Achieve with all your might.</p>
                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
                <i class="fa tm-fa-6x fa-plane tm-color-primary tm-margin-b-20"></i>
                <h3 class="tm-color-primary tm-article-title-1">Generalities</h3>
                <p>
                    You don’t have to be great to start. But you have to start to be great.</p>
                    <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
                <i class="fa tm-fa-6x fa-life-saver tm-color-primary tm-margin-b-20"></i>
                <h3 class="tm-color-primary tm-article-title-1">Stories & Poems</h3>
                <p>Some of these things are true and some of them lies. But they are all good stories.</p>
                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
            </article>
        </div>
    </div>
</div>